$red:#d53e23;
$skin:#e5dccb;
$blue:#002552;
$light-green: #97e4d6;


$title-yellow: #FFC400;
$title-red: #F63D1B;
$title-light: rgb(248, 233, 184);


$home-event1: rgba(205,150,102,.8);
$home-event1: rgba(230,196,155,.8);