// *{
//     outline:1px solid #f00;
// }

#form_login{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}




.pad{
    padding: 10px;
}   
  
.pad20{
    padding: 20px;
}
  
.pad40{
    padding: 40px;
}
  

.flex_r_w_fs_sa{
    /*background-color: #ff6;*/
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: space-around;
    // align-content: space-around;
    margin-top: -50px;  /* 注意 */
    margin-bottom: -50px;  /* 注意 */
  }
  
  .flex_r_w_sa_sa{
    /*background-color: #ff6;*/
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /*align-items: center;*/
    align-content: space-around;
    margin-top: -50px;  /* 注意 */
    margin-bottom: -50px;  /* 注意 */
  }
  
  
  .flex_r_w_ct_sa{
    /*background-color: #ff6;*/
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    align-content: space-around;
    margin-top: -50px;  /* 注意 */
    margin-bottom: -50px;  /* 注意 */
  }

  .flex_r_w_sb_sa{
    /*background-color: #ff6;*/
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: center;*/
    align-content: space-around;
    margin-top: -50px;  /* 注意 */
    margin-bottom: -50px;  /* 注意 */
  }



//--------------------------------------------------------------------------------------------------------------

// member背景區
.member{
    background-image: url("../img/x-ray-bg.png");

    #footer{
       position:unset;
    }
   
}

.member_login{
    background-image: url("../img/x-ray-bg.png");
    background-repeat: no-repeat;
    // #footer{
    //    position:unset;
    // }
   
}

.member_register{
    background-image: url("../img/x-ray-bg.png");
    background-repeat: no-repeat;
    // #footer{
    //    position:unset;
    // }
   
}

// member公用區
.member_section{
    
    padding-top:120px;
    font-family: $font-type2;
   
   

    h1{
        font-family: $font-type1;
        font-size:$font-1;
        color:#fff;
        text-align: center;
    }

    .show_order_light_box_bg{ //黑色滿版背景
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0,.5);
    }
    
    .profile{
        //    &:after{
        //        content: "";
        //        display: block;
        //        width: 100%;
        //        height: 0;
        //        clear: both;
        //    }
            text-align: center;
          
            color:$skin;
            padding: 20px;
            // background-image: url(/img/member/profile-bg.png);
            // background-repeat: no-repeat;
            // background-size: 100% 100%;
            background-color: $blue;
            // border:2px solid $blue;
            border-radius: 25px;
            // margin: auto;

            #personal_picture{
                
                width: 200px;
                height: 200px;
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;
                // border: 1px solid rgba(255,0,0,1.00);
               
            }
            #edit_personal_picture{
               cursor: pointer;
               img{
                cursor: pointer;
               }
             

            }
            .profile_name{
                font-size: $font-3;
            }
            
            .member_edit{
                cursor: pointer;
            }
            p{
                font-size: $font-p;
                line-height: 60px;
                color: $skin;
                text-align: left;
            }
            margin-bottom: 50px;
            
            .input_edit{
                width: 200px;
                height: 36px;
                font-size: $font-p;
                text-indent: 8px;
                border: none;
                border-radius: 10px;
                outline:none;
            }

            //點選編輯按鈕前
            .disable_edit{      
                background:none;    
                color:#eee;
            }
            #edit_name_input{
                text-indent: 0px;
                width: 100px;
            }
            #edit_password_input{
                width: 100px;
            }
            #edit_birthday_input,#edit_mobile_phone_input{
                width: 180px;
            }
            #edit_email_input{
                width: 226px;
            }
            #edit_address_input{
                width: 250px;
            }
           
        }
      
        .tablinks{
    
            max-width: 1200px;
            width: 100%;
            margin:10px  0px;
            
    
            .tab_btn{
               
                width: 120px;
                height: 50px;
                padding: 0px 10px;
                margin-right: 10px;
                margin-bottom: 10px;
                text-align: center;
                font-size: $font-4;
                font-family: $font-type1;
                background-color: $red;
                border-radius: 10px;
                line-height: 50px;
                color: $skin;
                cursor: pointer;
                transition: background-color .5s;
    
                &:hover
                {
                    background-color: $blue;
                }
    
    
            }
            
        }
    
        .member_tab{
            // &:after{
            //     content: "";
            //     display: block;
            //     width: 100%;
            //     height: 0;
            //     clear: both;
            // }
            border-radius: 20px;
            background-image: linear-gradient(to bottom, $blue, $skin);
            margin-bottom: 50px;

            

            .order{

                margin:auto;
                
                .show_more_order{
                    // background-color: #008aff;
                    font-family: $font-type1;
                    font-size: $font-p;
                    text-align: center;
                    // border-radius: 10px; 
                    width: 120px;
                    height: 40px;
                    // display: inline-block;
                    // padding: 5px;
                    line-height:1.5;
                    color: $red;  
                    cursor:pointer;   
                }
                .order_item{ 
                    margin: auto;    
                    border:2px solid $blue;
                    border-radius: 25px;    
                    background-color: #EBDCC2; 
        
                    margin-top: 5px;
                   
                    
                    .order_content{
                        display: none;
                        // text-align: center;
                        padding: 20px;
                        width: 400px;
                        // display: block;
                        position: fixed;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        z-index: 2;
                        border: red 1px solid;
                        // position: absolute;
                        background-color: #EBDCC2;
                        border: 2px solid #002552;
                        border-radius: 25px;
                        // box-shadow: 0px 0px 0px 10px #FFC400;
                        p{
                            line-height: 1.5;
                        }
                        .btn_order_cancel{
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            cursor: pointer;
                            font-size: 50px;
                            font-weight: bold;
                            color: $skin;
                        }
                    
                        .btn_order_cancel:after{
                            content: '';
                            width: 80%;
                            height: 80%;
                            background-color: black;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: -1;
                        }

                        h2{
                            color: #002552;
                            font-size: $font-3;
                            text-align: center;
                            margin-bottom: 15px;
                        }
                       
                        .product_detail{
                            width: 100%;
                            text-align: center;
                            border-collapse: collapse;
                            th,td{
                                font-size: $font-p;
                                color: #002552;
                                border: 2px solid #002552;
                            }
                        }
                    }
                   


                }
            
            }
        
           
            .activity{
                // padding: 30px;
                margin:auto;
        
                .activity_item{
                    width: 350px;
                    height: 400px;
                    margin: auto;
                    border:2px solid $blue;
                    border-radius: 25px;
                    background-color: #EBDCC2;  
                    text-align: center;
                    padding: 10px;
                    .activity_image{
                        height: 240px;
                    }
                    .activity_image a > img{      
                        max-width: 100%;
                        max-height: 100%;
                        // width: 100%;
                        height: 80%;    
                    }
                    p{
                        text-align: left;
        
        
                    }
                    margin-top: 25px;
                    margin-bottom: 25px;    /* 注意 */
        
                    //20181224
                    .img_address{
                        width: 20px;
                        height: 20px;
                    }
                    
                }
        
              
              
                p{
                    line-height: 40px;
                    font-size: $font-p;
                }
                .ac_btn{
                    background-color: $red;
                    font-family: $font-type1;
                    font-size: $font-3;
                    text-align: center;
                    border-radius: 10px; 
                    width: 60px;
                    height: 35px;
                    display: inline-block;
                    padding: 5px;
                    line-height: 25px;
                    color: $skin; 
                    cursor:pointer;   
        
                }
                
                
            }
        
            .member_product{
                // padding: 20px;
                margin:auto;
                
                .product_item{
                    width: 350px;
                    height: 320px;
                    margin: auto;
                    border:2px solid $blue;
                    border-radius: 25px;
                    background-color: #EBDCC2;  
                    text-align: center;
                    padding: 10px;
                    .product_image{
                        height:220px ;
                    }
                    .product_image a > img{
                        max-width: 100%;
                        max-height: 100%;
                        // width: 100%;
                        height: 80%;    
                    }
                    p{
                        font-size: $font-p;
                                   
                        text-align: left;
                        
                    }
                    margin-top: 25px;
                    margin-bottom: 25px;    /* 注意 */
                    .btnCancelLove{
                        font-weight: 900;
                        font-family: $font-type1;
                        font-size: $font-p;
                        color:$skin;
                        width: 100px;
                        height: 100px;
                        text-align: center;
                        line-height: 100px;
                        background-image: url("../img/member/heart.png");
                        background-repeat: no-repeat;
                        background-position:center center;
                        cursor:pointer;   
                    }
                    
                }
               
               
                // >div{     
                //     border:1px solid #000;
                //     border-radius: 25px; 
                //     background-color: #EBDCC2;    
                // }
                p{
                    line-height: 40px;
                    font-weight: 900;
                    color:$blue;  
                    font-size: $font-p;
                }
        
                // .btn{
                //     font-family: $font-type1;
                //     font-size: $font-3;
                //     text-align: center;
                //     width: 80px;
                //     height: 25px;
                //     display: inline-block;
                //     padding: 5px;
                //     line-height: 25px;      
                // }
            
                
            }
        
            .coupon{
               
                margin:auto;
    
                .coupon_item{
                    width: 150px;
                    font-size: $font-p;
                    line-height: 30px;
                    padding: 20px;     
                    border:2px solid $blue;
                    border-radius: 25px;
                    background-color: #EBDCC2; 
                    span{
                        color: $red;
                        font-weight: 900;
                    }   
                    margin-top: 25px;
                    margin-bottom: 25px;    /* 注意 */
                }
            }
        
    
         
        }
        
    
        p{
            color:$blue;  
            font-size: $font-p;
        }
    
       
    }

//會員註冊-------------------------------------------------------------------

.show_register_light_box_bg{ //黑色滿版背景
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
}

.reg_form{

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    width: 100%;
    height: 300px;
    padding-left:0px;
    padding-right: 0px;
    padding-top: 25px ;
    padding-bottom: 87px ;
    background-image: url("../img/comment-bg.png");
    margin: auto;
    display: none;

    // background-size:contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    h1{
        width: 100%;
        text-align: center;
        // position: absolute;
        font-family: $font-type1;
        font-size: $font-1;
        color:$skin;
        // top:50px;
        // left:0px;
    }

    input[type="text"], input[type="password"]{
        /* The text fields */
        // font: 15px 'Segoe UI',Arial,sans-serif;
        font-size: $font-p;
        // display: block;
        background:none;
        height: 30px;
        margin: 0px auto;
        width: 190px;
        text-indent: 8px;
        border-radius: 10px;
        // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        color:#eee;
        outline:none;
    }

    .btnCancel{
        position: absolute;
        top: -1px;
        right: -1px;
        cursor: pointer;
        font-size: 50px;
        font-weight: bold;
        color: $skin;
    }

    .btnCancel:after{
        content: '';
        width: 80%;
        height: 80%;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    a{
        text-decoration: none;
    }
    
    .p_note{
        color:$skin;
        text-align: center;
        line-height: 32px;
        width: 100%;
        display: inline-block;
        margin: auto;
    }

    .title_section{
        width: 100%;
        margin: auto;
      
    }
    
    .column_section{
        width: 340px;
        // border:1px solid #000;
        color: #fff;        
        padding:10px 0px;
        margin: auto;
        border-radius: 15px;

        .column_name{
            display: inline-block;
            width: 100px;
            font-size: $font-p;
            text-align: right;
        }
    
        p{
            line-height: 40px;
        }
    }
    
  


    .send_section{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    
    #checkIsEmailExist,#btn_Submit{
        width: 120px;
        height: 20px;
        display: inline-block;
        padding: 5px;
        line-height: 20px;
    }

    #select_image{
        width: 40px;
        height: 20px;
        display: inline-block;
        padding: 5px;
        line-height: 20px;
    }
    
}


//----登入 Start---------------------------------------------------------------------------

.show_login_light_box_bg{ //黑色滿版背景
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
}

//20181212
.login_section{
    // width: 288px;
    // margin: auto;

   

    // 20181211
    h1{
        text-align: center;
        font-family: $font-type1;
        font-size: $font-1;
        color:$skin;
        margin: 55px auto 15px;
    }


    //20181211
    font-family: $font-type2;
    p{
        color:$skin;
    }

    .btnCancel{
        position: absolute;
        top: -5px;
        right: -5px;
        cursor: pointer;
        font-size: 50px;
        font-weight: bold;
        color: $skin;
    }

    .btnCancel:after{
        content: '';
        width: 80%;
        height: 80%;
        background-color: black;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    input[type="text"], input[type="password"]{
        /* The text fields */
        // font: 15px 'Segoe UI',Arial,sans-serif;
        font-size: $font-p;
        display: block;
        background:none;
        height: 36px;
        margin: 7px auto;
        width: 234px;
        text-indent: 8px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        color:#eee;
        outline:none;
        border-radius: 10px;
    }
    
    
    // input[type=submit]{
        
       
        
    //     opacity:0.9;
    //     margin-left: auto;
    //     margin-right: auto;
    //     cursor:pointer;
    //     border-radius:6px;
    //     box-shadow:0 1px 1px #888;
    //     border:none;
    //     color:#fff;
        
          
    //     //20181216
    //     font-family: $font-type1;
    //     font-size: $font-3;
    //     text-align: center;
    //     width: 80px;
    //     height: 30px;
    //     display: block;
    //     padding: 5px;
    //     line-height: 20px;   

          
    //     background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    //     background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    //     background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    //     background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
    //     background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
        
    //     background-image: -webkit-gradient(
    //         linear,
    //         left bottom,
    //         left top,
    //         color-stop(0.5, rgb(80,102,127)),
    //         color-stop(0.5, rgb(87,109,136)),
    //         color-stop(1, rgb(106,129,155))
    //     );
    // }
    
    // input[type=submit]:hover{
    //     opacity:1;
    // }
    
    input::-webkit-input-placeholder {
        color:#aaa;
    }

    #recoverNote{
        line-height: 30px;
    }


}




#formContainer{
	width:320px;
	height:400px;
	margin:0 auto;
	position:relative;
	z-index:1;
	
	-moz-perspective: 800px;
	-webkit-perspective: 800px;
    perspective: 800px;

    .loginLink{
        color:$title-yellow;
        text-decoration:underline;
    }

    // .flipLink:visited {
    //     text-decoration:none;
    //     outline:none;
    //     color:$title-light;
    // }
    .loginLink:hover{
        text-decoration:none;
        outline:none;
        color:$title-light;
        // text-decoration:underline;
    }

    .form{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        
        /* Enabling 3d space for the transforms */
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        
        /* When the forms are flipped, they will be hidden */
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        
        /* Enabling a smooth animated transition */
        -moz-transition:0.8s;
        -webkit-transition:0.8s;
        transition:0.8s;
        
        /* Configure a keyframe animation for Firefox */
        // -moz-animation: pulse 2s infinite;
        
        /* Configure it for Chrome and Safari */
        // -webkit-animation: pulse 2s infinite;
        
        //20181212
        border-radius: 25px;
    }

    #login{
        
        //20181212
        // background:url('../img/login/login_form_bg.jpg') no-repeat;
        
        background-image: url(../img/member/comment-bg-login.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align:center;
        z-index:100;
          
        #flipToRecover{
            position: absolute;
            top:10px;
            left:185px;
        }

        #loginPass{
            top: 215px;
            margin-bottom: 15px;
        }    


        #gotoRegister {
            position: absolute;
            width: 100%;
            top: 340px;
        }
    }
    
    #recover{
    
        //20181212
        // background:url('../img/login/recover_form_bg.jpg') no-repeat;
        
        background-image: url(../img/member/comment-bg-login.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align:center;
        z-index:1;
        opacity:0;
        
        /* Rotating the recover password form by default */
        -moz-transform:rotateY(180deg);
        -webkit-transform:rotateY(180deg);
        transform:rotateY(180deg);
        
        #flipToLogin{
            position: absolute;
            top:10px;
            left:60px;
        }
        

        //20181211
        #recoverNote{
            text-align: left;
            padding: 0 40px;
        }

    }

    #btnLogin{
        // margin: 20px auto;
    }
    #loginAcount{
        margin-top: 70px;
    }

}





/* Firefox Keyframe Animation */
@-moz-keyframes pulse{
	0%{		box-shadow:0 0 1px #008aff;}
	50%{	box-shadow:0 0 8px #008aff;}
	100%{	box-shadow:0 0 1px #008aff;}
}

/* Webkit keyframe animation */
@-webkit-keyframes pulse{
	0%{		box-shadow:0 0 1px #008aff;}
	50%{	box-shadow:0 0 10px #008aff;}
	100%{	box-shadow:0 0 1px #008aff;}
}



#formContainer.flipped #login{
	
	opacity:0;
	
	/**
	 * Rotating the login form when the
	 * flipped class is added to the container
	 */
	
	-moz-transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
}

#formContainer.flipped #recover{
	
	opacity:1;
	
	/* Rotating the recover div into view */
	-moz-transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	transform:rotateY(0deg);
}

//---登入 End  ----------------------------------------------------------------------------

.hide{
    display: none;
}

@include rwd(md){

    .member_section {
        padding-top: 120px;
        padding-left: 50px;
        padding-right: 50px;
        .order,.activity,.product,.coupon{
            padding: 20px;
        }

    }

    .member_section .profile {
        text-align: center;
        color: #e5dccb;
        padding: 20px;
        background-color: #002552;
        border-radius: 25px;
        margin-bottom: 50px;
    }

    .member_section .order_content{
        display: none;
        // text-align: center;
        padding: 20px;
        width: 400px;
        // display: block;
        position: fixed;
        left: 50%;
        top: 50%;
        // transform: translate(-50%,-50%);
        z-index: 2;
        border: red 1px solid;
        // position: absolute;
        background-color: #EBDCC2;
        border: 2px solid #002552;
        border-radius: 25px;
        // box-shadow: 0px 0px 0px 10px #FFC400;
    }

    .reg_form{
        width: 500px;
        height: 300px;
    }

    .tablinks{
        justify-content: flex-start;
    }
    #personal_picture{
                    
        width: 150px;
        height: 150px;
        max-width: 100%;
        // max-height: 100%;
        border-radius: 50%;
        
    
    }

}

  
@include rwd(lg){

   
  
}
  
@include rwd(xl){

    
  
}